body {
    font-family: "Cathylise Janetson", sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
    text-align: center;
    padding: 20px;
}

p {
    color: #000;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: "Cathylise Janetson";
    src: url(../resources/Cathylise\ Janetson.otf);
}